<table>
    <thead>
        <tr>
            <th>String</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i</td>
            </tr>
        }
    </tbody>
</table>